{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Enter new password {% endblock %}
{% block breadcrumb %} Enter new password {% endblock %}

{% block content %}
{% if validlink %}
    <h1>Enter new password</h1>
    <p> Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    {% csrf_token %}
    {% crispy form form.helper %}
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}